$mobile: 600px; // Screen min
$desktop: 1200px; // Screen max

// Responsive Typeographics 
$font-min: 20px; 
$font-max: 40px;
$screen-diff: ($desktop / 1px - $mobile / 1px);
$font-diff: ($font-max / 1px - $font-min / 1px);
h1 {
  // Mobile
  @media (max-width: 599px) {
    font-size: $font-min;
  }
  
  // Everything in between mobile (600px) to desktop (1200px)
  @media (min-width: 600px) and (max-width: 1200px) {
    font-size: calc(#{$font-min} + (100vw - #{$mobile}) / #{$screen-diff} * #{$font-diff});
  }
// Desktop
  @media (min-width: 1201px) {
    font-size: $font-max;
  }
}

$h2font-min: 18px; 
$h2font-max: 35px;
$h2font-diff: ($h2font-max / 1px - $h2font-min / 1px);

h2 {
    // Mobile
    @media (max-width: 599px) {
      font-size: $h2font-min;
    }
    
    // Everything in between mobile (600px) to desktop (1200px)
    @media (min-width: 600px) and (max-width: 1200px) {
      font-size: calc(#{$h2font-min} + (100vw - #{$mobile}) / #{$screen-diff} * #{$h2font-diff});
    }
  // Desktop
    @media (min-width: 1201px) {
      font-size: $h2font-max;
    }
  }

$h3font-min: 15px; 
$h3font-max: 30px;
$h3font-diff: ($h3font-max / 1px - $h3font-min / 1px);

h3 {
    // Mobile
    @media (max-width: 599px) {
      font-size: $h3font-min;
    }
    
    // Everything in between mobile (600px) to desktop (1200px)
    @media (min-width: 600px) and (max-width: 1200px) {
      font-size: calc(#{$h3font-min} + (100vw - #{$mobile}) / #{$screen-diff} * #{$h3font-diff});
    }
  // Desktop
    @media (min-width: 1201px) {
      font-size: $h3font-max;
    }
  }
